---
import "@fontsource/inter";
import Stars from "@components/Stars.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Front End Developer based in Portugal." />
    <link rel="canonincal" href="https://joaograca.dev" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="João Graça" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Front End Developer based in Portugal."
    />
    <meta property="og:site_name" content="João Graça" />
    <meta property="og:title" content="João Graça" />
    <meta property="og:image" content="https://joaograca.dev/og.png" />
    <meta property="og:url" content="https://joaograca.dev" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jcggraca" />
    <meta name="twitter:creator" content="@jcggraca" />
    <meta name="twitter:title" content="João Graça" />
    <meta
      name="twitter:description"
      content="Front End Developer based in Portugal."
    />
    <meta name="twitter:image" content="https://joaograca.dev/og.png" />

    <title>João Graça</title>
  </head>
  <body class="font-sans">
    <Stars />
    <div class="relative min-h-svh z-10">
      <main class="mx-auto max-w-2xl px-4 pb-24 pt-12 sm:pb-24 sm:pt-24">
        <slot />
      </main>
    </div>
  </body>
</html>
